
.Header {
    padding: 1rem 2rem;
    justify-content: flex-end;
    border-bottom: 0;
}

.Left_Card_div {

margin-top: 2rem;
margin-left: auto;
margin-right: auto;
}


.Right_Card_div {
margin-top: 2rem;
margin-left: auto;
margin-right: auto;
}


.banner-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }

/* Yahoo Logo */
#logo1 {
        width: 65px;
        height: 65px;
        object-fit: cover
}

/* Basketball Icon */
#logo2 {
    width: 30px;
    height: 30px;
    object-fit: cover;
    display: flex;
    flex-direction: row;
}

.Middle {
    padding: 2rem 3rem;
}

.Radio_Button {
    display: inline-block;
    margin-top: 0.5rem;
}

.Right_Dropdown {
    /*display: inline-block;*/
    display: flex;
    text-align:right;
    flex-direction: column;

}

.dash-spreadsheet-container .dash-spreadsheet-inner table {
    --accent: transparent  !important;
    --border: transparent !important;
    --text-color: transparent !important;
    --hover: transparent !important;
    --background-color-ellipses: transparent !important;
    --faded-text: transparent !important;
    --faded-text-header: transparent !important;
    --selected-background: transparent !important;
    --faded-dropdown: transparent !important;
    --muted: transparent !important;
}

.Right_Component {
    
    text-align:right;

}

.Right_Dropdown select option {
    text-align:right;
}


  